workflows/02-input-slack.json
{
  "name": "Input: Slack",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "reaction_added"
        ],
        "watchWorkspace": true,
        "options": {
          "resolveIds": true,
          "reactionEmojis": "clipboard"
        }
      },
      "id": "99b47097-be10-40c5-ab30-57871465090f",
      "name": "Slack Reaction Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "13943ecc-6b82-42bd-8913-8fa27137f2a7",
      "credentials": {
        "slackApi": {
          "id": "pTmImoJBMdsvkU6X",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://slack.com/api/conversations.history",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.item.channel }}"
            },
            {
              "name": "latest",
              "value": "={{ $json.item.ts }}"
            },
            {
              "name": "inclusive",
              "value": "true"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "16367646-ef58-4dd2-81ab-2bfbb6fd4467",
      "name": "Fetch Slack Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "credentials": {
        "slackApi": {
          "id": "pTmImoJBMdsvkU6X",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sl1",
              "name": "project_id",
              "value": "=slack-{{ $(\"Slack Reaction Trigger\").item.json.item.channel }}",
              "type": "string"
            },
            {
              "id": "sl2",
              "name": "client_name",
              "value": "",
              "type": "string"
            },
            {
              "id": "sl3",
              "name": "contact_email",
              "value": "",
              "type": "string"
            },
            {
              "id": "sl4",
              "name": "slack_channel_id",
              "value": "={{ $(\"Slack Reaction Trigger\").item.json.item.channel }}",
              "type": "string"
            },
            {
              "id": "sl5",
              "name": "existing_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "sl6",
              "name": "source",
              "value": "slack",
              "type": "string"
            },
            {
              "id": "sl7",
              "name": "source_ref",
              "value": "={{ $(\"Slack Reaction Trigger\").item.json.item.channel }}/{{ $(\"Slack Reaction Trigger\").item.json.item.ts }}",
              "type": "string"
            },
            {
              "id": "sl8",
              "name": "raw_content",
              "value": "={{ $json.messages?.[0]?.text ?? \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c2e98270-c19e-41bd-8e54-f5aec63e8e19",
      "name": "Normalize Slack",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "yJuepJKq7qXTwjNn",
          "cachedResultName": "Sub: extract_and_store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "project_id": "={{ $json.project_id }}",
            "client_name": "={{ $json.client_name }}",
            "contact_email": "={{ $json.contact_email }}",
            "slack_channel_id": "={{ $json.slack_channel_id }}",
            "existing_url": "={{ $json.existing_url }}",
            "source": "={{ $json.source }}",
            "source_ref": "={{ $json.source_ref }}",
            "raw_content": "={{ $json.raw_content }}"
          },
          "schema": [
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "slack_channel_id",
              "displayName": "slack_channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "existing_url",
              "displayName": "existing_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_ref",
              "displayName": "source_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "8e1a84b0-cf22-4ef2-b2b9-cc9e35ec53f6",
      "name": "Store Slack (extract_and_store)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Reaction Trigger": {
      "main": [
        [
          {
            "node": "Fetch Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Slack Message": {
      "main": [
        [
          {
            "node": "Normalize Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Slack": {
      "main": [
        [
          {
            "node": "Store Slack (extract_and_store)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "fc18f7b4-75e1-4056-922f-b26611f10df3",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "538d4c63d3afcb8d4d6a2c55d2ac6cebf297210295a8bbd65d61cdf4740b6e1d"
  },
  "nodeGroups": [],
  "id": "SQiJu2bwxi0FMvMI",
  "tags": [
    {
      "updatedAt": "2026-06-24T08:11:32.916Z",
      "createdAt": "2026-06-24T08:11:32.916Z",
      "id": "7g4UsbDivothQFhH",
      "name": "Onepage"
    }
  ]
}