workflows/03-input-email.json
{
  "name": "Input: E-Mail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "label:briefing",
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "01aa4f4a-57f3-4697-95b6-a8270720030b",
      "name": "Gmail Briefing Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "XLR2EA9BX1sLYrw1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "project_id",
              "value": "={{ ($json.from.value[0].address ?? \"\").toString().match(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+/)?.[0]?.toLowerCase() ?? \"unknown\" }}",
              "type": "string"
            },
            {
              "id": "e2",
              "name": "client_name",
              "value": "={{ ($json.from.value[0].address ?? \"\").toString().replace(/<.*>/, \"\").trim() }}",
              "type": "string"
            },
            {
              "id": "e3",
              "name": "=contact_email",
              "value": "={{ ($json.from.value[0].address ?? \"\").toString().match(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+/)?.[0]?.toLowerCase() ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "e4",
              "name": "slack_channel_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "e5",
              "name": "existing_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "e6",
              "name": "source",
              "value": "=email",
              "type": "string"
            },
            {
              "id": "e7",
              "name": "source_ref",
              "value": "={{ $json.id ?? $json.threadId ?? $json.Subject ?? \"email\" }}",
              "type": "string"
            },
            {
              "id": "e8",
              "name": "raw_content",
              "value": "=SUBJECT: {{ $json.Subject ?? $json.subject ?? \"\" }}\n\n{{ $json.text ?? $json.textPlain ?? $json.snippet ?? \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "613a8bf2-b3ab-4ac4-b3fa-df281ad3613a",
      "name": "Normalize Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "yJuepJKq7qXTwjNn",
          "cachedResultName": "Sub: extract_and_store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "project_id": "={{ $json.project_id }}",
            "client_name": "={{ $json.client_name }}",
            "contact_email": "={{ $json.contact_email }}",
            "slack_channel_id": "={{ $json.slack_channel_id }}",
            "existing_url": "={{ $json.existing_url }}",
            "source": "={{ $json.source }}",
            "source_ref": "={{ $json.source_ref }}",
            "raw_content": "={{ $json.raw_content }}"
          },
          "schema": [
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "slack_channel_id",
              "displayName": "slack_channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "existing_url",
              "displayName": "existing_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_ref",
              "displayName": "source_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "3c686326-49f2-4e45-8f00-905ffd0eb293",
      "name": "Store Email (extract_and_store)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Briefing Trigger": {
      "main": [
        [
          {
            "node": "Normalize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email": {
      "main": [
        [
          {
            "node": "Store Email (extract_and_store)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "19963e4b-97c5-4cf9-8518-e52df2168885",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "538d4c63d3afcb8d4d6a2c55d2ac6cebf297210295a8bbd65d61cdf4740b6e1d"
  },
  "nodeGroups": [],
  "id": "NcwaFSpBALyyBJKG",
  "tags": [
    {
      "updatedAt": "2026-06-24T08:11:32.916Z",
      "createdAt": "2026-06-24T08:11:32.916Z",
      "id": "7g4UsbDivothQFhH",
      "name": "Onepage"
    }
  ]
}