workflows/04-input-meeting-webhook.json
{
  "name": "Input: Meeting (Fireflies + Granola)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-fireflies",
        "options": {}
      },
      "id": "1071d194-99db-40a7-879c-524392fdd8e9",
      "name": "Fireflies Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "a0a7233f-229c-4bf1-847f-a16049fda9b9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fireflies.ai/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"query\": \"query Transcript($id: String!) { transcript(id: $id) { title participants sentences { text speaker_name } } }\", \"variables\": { \"id\": \"{{ $json.body.meetingId }}\" } }",
        "options": {}
      },
      "id": "88784a97-6e6f-433c-a905-320d9296d1e8",
      "name": "Fetch Fireflies Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "1SmYLypLzrLpWAQ8",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "project_id",
              "value": "={{ ($json.data?.transcript?.participants?.[0] ?? \"unknown\").toString().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "m2",
              "name": "client_name",
              "value": "={{ $json.data?.transcript?.title ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "m3",
              "name": "contact_email",
              "value": "={{ ($json.data?.transcript?.participants?.[0] ?? \"\").toString().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "m4",
              "name": "slack_channel_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "m5",
              "name": "existing_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "m6",
              "name": "source",
              "value": "meeting",
              "type": "string"
            },
            {
              "id": "m7",
              "name": "source_ref",
              "value": "=fireflies/{{ $(\"Fireflies Webhook\").item.json.body.meetingId }}",
              "type": "string"
            },
            {
              "id": "m8",
              "name": "raw_content",
              "value": "=TITLE: {{ $json.data?.transcript?.title }}\n\n{{ ($json.data?.transcript?.sentences ?? []).map(s => (s.speaker_name + \": \" + s.text)).join(\"\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5b1b1a77-8ca3-43f7-89c3-8844484ea17d",
      "name": "Normalize Fireflies",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "yJuepJKq7qXTwjNn",
          "cachedResultName": "Sub: extract_and_store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "project_id": "={{ $json.project_id }}",
            "client_name": "={{ $json.client_name }}",
            "contact_email": "={{ $json.contact_email }}",
            "slack_channel_id": "={{ $json.slack_channel_id }}",
            "existing_url": "={{ $json.existing_url }}",
            "source": "={{ $json.source }}",
            "source_ref": "={{ $json.source_ref }}",
            "raw_content": "={{ $json.raw_content }}"
          },
          "schema": [
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "slack_channel_id",
              "displayName": "slack_channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "existing_url",
              "displayName": "existing_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_ref",
              "displayName": "source_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "5eec4f8f-a9cc-4d51-a2af-aeeb16c0d347",
      "name": "Store Fireflies (extract_and_store)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-granola",
        "options": {}
      },
      "id": "e1b0fe22-c939-4369-98a8-09770b199cf9",
      "name": "Granola Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        224
      ],
      "webhookId": "19b5a789-cebd-4733-a0c6-0c126863faba"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g1",
              "name": "project_id",
              "value": "={{ ($json.body?.attendees?.[0] ?? $json.body?.contact_email ?? \"unknown\").toString().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "g2",
              "name": "client_name",
              "value": "={{ $json.body?.title ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "g3",
              "name": "contact_email",
              "value": "={{ ($json.body?.attendees?.[0] ?? \"\").toString().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "g4",
              "name": "slack_channel_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "g5",
              "name": "existing_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "g6",
              "name": "source",
              "value": "meeting",
              "type": "string"
            },
            {
              "id": "g7",
              "name": "source_ref",
              "value": "=granola/{{ $json.body?.id ?? $json.body?.title ?? \"meeting\" }}",
              "type": "string"
            },
            {
              "id": "g8",
              "name": "raw_content",
              "value": "=TITLE: {{ $json.body?.title }}\n\n{{ $json.body?.transcript ?? $json.body?.notes ?? \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0840e9f4-d5a9-4b34-b6bf-05d837c9b157",
      "name": "Normalize Granola",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "yJuepJKq7qXTwjNn",
          "cachedResultName": "Sub: extract_and_store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "project_id": "={{ $json.project_id }}",
            "client_name": "={{ $json.client_name }}",
            "contact_email": "={{ $json.contact_email }}",
            "slack_channel_id": "={{ $json.slack_channel_id }}",
            "existing_url": "={{ $json.existing_url }}",
            "source": "={{ $json.source }}",
            "source_ref": "={{ $json.source_ref }}",
            "raw_content": "={{ $json.raw_content }}"
          },
          "schema": [
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "slack_channel_id",
              "displayName": "slack_channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "existing_url",
              "displayName": "existing_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_ref",
              "displayName": "source_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "69dfd545-ed49-4390-b0ec-e2cdfaa1a279",
      "name": "Store Granola (extract_and_store)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        224
      ]
    },
    {
      "parameters": {
        "content": "## Granola\nDieser Zweig erwartet, dass das Webhook-Payload Titel, Teilnehmer (attendees) und Transkript/Notes direkt enthält. Falls Granola nur eine Meeting-ID liefert, hier analog zu Fireflies einen HTTP-Request zum Abruf einfügen.",
        "height": 424,
        "width": 300,
        "color": 3
      },
      "id": "8f54ed36-adcc-4725-9841-22291c4c3035",
      "name": "Sticky Note 22f69c76",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -48
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Fireflies Webhook": {
      "main": [
        [
          {
            "node": "Fetch Fireflies Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Fireflies Transcript": {
      "main": [
        [
          {
            "node": "Normalize Fireflies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Fireflies": {
      "main": [
        [
          {
            "node": "Store Fireflies (extract_and_store)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Granola Webhook": {
      "main": [
        [
          {
            "node": "Normalize Granola",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Granola": {
      "main": [
        [
          {
            "node": "Store Granola (extract_and_store)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "42fa3c12-22ac-4fdd-8461-49d5d5ca4af2",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "538d4c63d3afcb8d4d6a2c55d2ac6cebf297210295a8bbd65d61cdf4740b6e1d"
  },
  "nodeGroups": [],
  "id": "JncmWcMwgbPVss7n",
  "tags": [
    {
      "updatedAt": "2026-06-24T08:11:32.916Z",
      "createdAt": "2026-06-24T08:11:32.916Z",
      "id": "7g4UsbDivothQFhH",
      "name": "Onepage"
    }
  ]
}